@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.fee-card{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  
}
.fee-card .wrapper{
 
  min-height: 90vh;
  width: 400px;
  background: #fff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.fee-card .wrapper header{
  height: 55px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 30px;
  position: relative;
}
.fee-card header label{
  height: 100%;
  z-index: 2;
  width: 30%;
  display: flex;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease;
}
.fee-card #tab-1:checked ~ header .tab-1,
.fee-card #tab-2:checked ~ header .tab-2,
.fee-card #tab-3:checked ~ header .tab-3{
  color: #fff;
}
.fee-card header label:nth-child(2){
  width: 40%;
}
.fee-card header .slider{
  position: absolute;
  height: 85%;
  border-radius: inherit;
  background: linear-gradient(145deg, #D5A3FF 0%, #77A5F8 100%);
  transition: all 0.3s ease;
}
.fee-card #tab-1:checked ~ header .slider{
  left: 0%;
  width: 90px;
  transform: translateX(5%);
}
.fee-card #tab-2:checked ~ header .slider{
  left: 50%;
  width: 120px;
  transform: translateX(-50%);
}
.fee-card #tab-3:checked ~ header .slider{
  left: 100%;
  width: 95px;
  transform: translateX(-105%);
}
.fee-card .wrapper input[type="radio"]{
  display: none;
}
.fee-card .card-area{
  overflow: hidden;
}
.fee-card .card-area .cards{
  display: flex;
  width: 300%;
}
.fee-card .cards .row{
  width: 33.4%;
}
.fee-card .cards .row-1{
  transition: all 0.3s ease;
}
.fee-card #tab-1:checked ~ .card-area .cards .row-1{
   margin-left: 0%;
}
.fee-card #tab-2:checked ~ .card-area .cards .row-1{
  margin-left: -33.4%;
}
.fee-card #tab-3:checked ~ .card-area .cards .row-1{
   margin-left: -66.8%;
}

.fee-card .price-details .price{
  font-size: 65px;
  font-weight: 600;
  position: relative;
  font-family: 'Noto Sans', sans-serif;
}
.fee-card .price-details .price::before,
.fee-card .price-details .price::after{
  position: absolute;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.fee-card .price-details .price::before{
  content: "$";
  left: -13px;
  top: 17px;
  font-size: 20px;
}
.fee-card .price-details .price::after{
  content: "/mon";
  right: -33px;
  bottom: 17px;
  font-size: 13px;
}


